<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 order-2 order-md-1 mt-4 pt-2 mt-sm-0 opt-sm-0">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-6">
                    <div class="row">
                        <div class="col col-lg-12 col-md-12 mt-4 pt-2">
                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden img-hover-zoom">
                                <img src="https://cdn.pixabay.com/photo/2015/11/28/21/48/iphone-1067991_960_720.jpg" class="img-fluid" alt="Image" />
                                <div class="img-overlay bg-dark"></div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mt-4 pt-2 text-right">
                                <a href="javascript:void(0)" class="btn btn-info">More <i class="mdi mdi-chevron-right"></i
                ></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-6">
                    <div class="row">
                        <div class="col col-lg-12 col-md-12">
                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden img-hover-zoom">
                                <img src="https://images.pexels.com/photos/788946/pexels-photo-788946.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="Image" />
                                <div class="img-overlay bg-dark"></div>
                            </div>
                        </div>

                        <div class="col col-lg-12 col-md-12 mt-4 pt-2">
                            <div class="card work-desk rounded border-0 shadow-lg overflow-hidden img-hover-zoom">
                                <img src="https://cdn.pixabay.com/photo/2016/12/01/18/17/mobile-phone-1875813_960_720.jpg" class="img-fluid" alt="Image" />
                                <div class="img-overlay bg-dark"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-12 order-1 order-md-2">
            <div class="section-title ml-lg-5">
                <h5 class="text-custom font-weight-normal mb-3">About Mobile Hub</h5>
                <h4 class="title mb-4">
                    Our mission is to <br /> make your life easier.
                </h4>
                <p class="text-muted mb-0">
                    End-users, not technologies, shape the market. Consequently, marketers need to stay abreast not only of technological developments but also of the way people respond to them.
                </p>

                <div class="row">
                    <div class="col-lg-6 mt-4 pt-2">
                        <div class="media align-items-center rounded shadow p-3">
                            <i class="fa fa-play h4 mb-0 text-custom"></i>
                            <img src="https://c4.wallpaperflare.com/wallpaper/1/202/333/hipster-quality-wallpaper-preview.jpg" alt="" class="aboutImage img-hover-zoom" />
                            <h6 class="ml-3 mb-0">
                                <a href="javascript:void(0)" class="text-dark">Good Quality Product</a
                >
              </h6>
            </div>
          </div>
          <div class="col-lg-6 mt-4 pt-2">
            <div class="media align-items-center rounded shadow p-3">
              <i class="fa fa-file-download h4 mb-0 text-custom"></i>
              <img
                src="https://www.tvscredit.com/product/consumer-durable-loan/images/desk/01.png"
                alt=""
                class="aboutImage img-hover-zoom"
              />
              <h6 class="ml-3 mb-0">
                <a href="javascript:void(0)" class="text-dark">Loan Facility</a>
                            </h6>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4 pt-2">
                        <div class="media align-items-center rounded shadow p-3">
                            <i class="fa fa-user h4 mb-0 text-custom"></i>
                            <img src="https://thumbs.dreamstime.com/b/open-isometric-icon-isolated-color-background-vector-symbol-flat-style-110593270.jpg" alt="" class="aboutImage img-hover-zoom" />
                            <h6 class="ml-3 mb-0">
                                <a href="javascript:void(0)" class="text-dark">Availbility 24*7</a
                >
              </h6>
            </div>
          </div>
          <div class="col-lg-6 mt-4 pt-2">
            <div class="card media align-items-center rounded shadow p-3">
              <i class="fa fa-image h4 mb-0 text-custom"></i>
              <img
                src="https://rmoneyinsurance.com/wp-content/uploads/2017/05/3.jpg"
                alt=""
                class="aboutImage img-hover-zoom"
              />
              <h6 class="ml-3 mb-0">
                <a href="javascript:void(0)" class="text-dark"
                  >Money Back Policy</a
                >
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br /><br />

<div class="client-count-wrp mt-100">
  <div class="container">
    <div class="heading">
      <h4>Our Statistics</h4>
    </div>
    <div class="client-count-wrp-inner">
      <div class="cards">
        <h4>{{ projectcount }}k+</h4>
        <p>Products</p>
      </div>
      <div class="cards">
        <h4>{{ accuratecount + "%" }}</h4>
        <p>Product Quality</p>
      </div>
      <div class="cards">
        <h4>{{ clientcount }}</h4>
        <p>Happy Customers</p>
      </div>
      <div class="cards">
        <h4>{{ customerfeedback + "%" }}</h4>
        <p>Customer Satisfaction</p>
      </div>
    </div>
  </div>
</div>