.logoRealme {
    background-color: yellow;
    width: 7vw;
}
.paraRealme{
    text-align: center;
}
.btn{
    margin-left: 10rem;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
  color: rgb(237, 227, 227);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.marquee {
width: auto;
height: 20vh;
background-color: none;
color: rgb(255, 255, 255);
overflow: hidden;
}

.marquee-content {
    list-style: none;
    height: 100%;
    display:flex;
    animation: scrolling 20s linear infinite;
}
@keyframes scrolling {
    0% {transform: translateX(80vw);}
    100% {transform: translateX(-180vw);}
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22vw;
    flex-shrink: 0;
    font-size: 5rem;
    white-space: nowrap;
}
.marquee .marquee-content li img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: none;
    border-color: none;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.col .card img {
    width: auto;
    height: 200px;
}

.img-hover-zoom {
    height: 300px;
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform 1.5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(0.7);
}